
 @media screen and  (min-width: 768px){

 .menu-btn ,  .close-btn {
 display: none;
 }

.mobile-nav {
display: none;
}   
      
} 

@media screen and  (max-width: 767px)   {  
  
.wrapper  {
   width: 100%;
}


.logo {
 margin-left: 70px;
 width: 100%;
 

}


.logo h1 {

  font-size: 1.5em;
}




nav {
   display:none;
}

.menu-btn{
position: relative;
padding-bottom: 10px;
}


.menu-btn {
   margin: -65px 0 0 10px;
   width: 30px;
   height: 30px;
   padding: 10px;
}
   

 .menu-btn span {
  display: block;
  width: 19px;
  height: 4px;
  margin: 5px 5px;
  background-color: #231f20;
  }

.close-btn {
   margin: -65px 0 0 10px;
   width: 30px;
   height: 30px;
   padding: 10px;
}
   
.close-btn span {
   display: block;
  width: 19px;
  height: 4px;
  margin: 5px 5px;
  background-color: #231f20;
}

.close-btn {
display: none;
}

.mobile-nav {
 background-color: #EDEDED;
  margin-top: 50px;
  
}

.mobile-nav li {
  float:none;
  list-style: none;
  border:1px solid #666;
}

.mobile-nav a {
       text-decoration: none;
       display: block;
       padding-left: 10px;
       height: 40px;
       line-height: 3.5;
       color: #231f20;
  }





    #p-index #t-index-n a,
    #p-about #t-about-n a,
    #p-services #t-services-n a,
    #p-work #t-work-n a,
    #p-contact #t-contact-n a,
    .mobile-nav a:hover {
      color: #e55d22;
  }


.mobile-menu{
  display: none;
}
 
.expand {
  display: block; 
}


.btn-none {
display: none;
}


.btn-display{
display: block;
}



.headline {

  
 
  width: 100%;
  margin-top:25px;
  
  
}


.headline h1

{
  font-size: 1.5em
}

.gray_box_1 {
padding:10px;

}


.top {
  white-space: normal;
}

.bottom {
  white-space: normal;
}


.learn_more {
    position: relative;
    top: 0px;
    left: 0px;
    width: 50%;
}
 
.black_box {
   padding: 10px;
}
  

  .cat {
    float: none;
  	width: 100%;
  	margin-bottom: 25px;
}
  
  
.url {
  float:none;
  }
  
 
 footer {
  padding: 10px;
  }


.info {
    width: 100%
   }
   
   
.social {
    float: left;
    width: 100%;
    margin: 30px 0 0 -25px;
   }

   .social ul {
    margin-top:-15px;
  }

.copyright {
   margin-top: 10px;
   width: 100%;
   }

.main_content {
 padding: 10px;
 }




.left_col, .right_col {
    float: none;
    width: 100%;
  }

.left_col p {
  white-space: normal;
}

.right_col p {
  white-space: normal;
}


#web-design , #ecommerce  , #mobile{
  padding: 10px;
  float: none; 
  width: 100%;
  border:none;
}

aside {
padding: 10px; 
 float: none;
 width: 100%;
 border-left:none;
}

aside ul {
margin-top: 0px;
}


.picture {
float: none;
  width: 100%;
}



}

